<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <h1>התחברות</h1>
    <form method="POST" action="/login">
        <label for="username">שם משתמש:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">סיסמה:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <input type="submit" value="התחבר">
    </form>

    <script>
        // סקריפט להפניה לדף הראשי לאחר ההתחברות בהצלחה
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        var flashMessage = "{{ messages[0] }}";
        if (flashMessage === "התחברת בהצלחה!") {
            window.location.href = "/";
        }
        {% endif %}
        {% endwith %}
    </script>
</body>
</html>
