<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <h1>הרשמה</h1>
    <form method="POST" action="/register">
        <label for="username">שם משתמש:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">סיסמה:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <label for="email">אימייל:</label>
        <input type="email" id="email" name="email" required>
        <br>
        <input type="submit" value="הרשם">
    </form>

    <script>
        // סקריפט להפניה לדף ההתחברות לאחר ההרשמה בהצלחה
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        var flashMessage = "{{ messages[0] }}";
        if (flashMessage === "נרשמת בהצלחה!") {
            window.location.href = "/login";
        }
        {% endif %}
        {% endwith %}
    </script>
</body>
</html>
